Source: gr-mixalot
Section: libdevel
Priority: optional
Maintainer: Debian Hamradio Maintainers <debian-hams@lists.debian.org>
Uploaders: Petter Reinholdtsen <pere@debian.org>,
           A. Maitland Bottoms <bottoms@debian.org>
Build-Depends: cmake,
               debhelper (>= 10~),
               gnuradio-dev,
               libitpp-dev
Standards-Version: 4.1.0
Homepage: https://github.com/unsynchronized/gr-mixalot
#Vcs-Git: https://salsa.debian.org/debian-hamradio-team/gr-mixalot.git
#Vcs-Browser: https://salsa.debian.org/debian-hamradio-team/gr-mixalot

Package: gr-mixalot
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends},
         gnuradio,
         gr-osmosdr
Description: Gnuradio blocks and tools for sending pager transmissions
 Implementation of the POCSAG protocol for sending to numeric and
 alphanumeric pager devices as a GNU radio block.
